*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #D9E2D3; /* 3 tom antes do branco principal */
  /* background: url(../Img/Background/BackgroundFundo.jpg)  repeat-x fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  word-wrap: break-word;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: logo;
  src: Url("../Fonte/Angelia Davitson.otf");
}#nomeNegocio1{
  font-family: logo;
  font-size: 24px;
}
#nomeNegocio2{
  font-size: 20px;
}
.subNomeNegocio{
  font-size: 18px;
}

.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
}

.conteudoIcone{
  display: flex;
}
.imagemIcone{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 0px 40px 2px  #416f24; /* tom princial original */
  padding: 1px;
  background-color: #ffffff;
}

.nomeNegocio{
  text-align: center;
  color: #416f24; /* tom princial original */
  padding-top: 30px;
}
#nomeNegocio2{
  padding-top: 0px;
}
.subNomeNegocio{
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}
.conteudoLinks{
  display: grid;
  padding: 10px 5px 5px 5px;
}
.descricaoLink{
  display: flex;
  margin: 7px;
}
.link{
  background: #678B4F; /* tom secundario original */
  color: #1E2917; /* 4 tons antes do preto secundario */
  min-width: 350px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  color: #678B4F; /* tom secundario original */
  background: #1E2917; /* 4 tons antes do preto secundario */
  box-shadow: 0px 0px 6px 6px #5C7D47; /* 1 tom mais escuro secundario */
}
