*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #ECF0E9; /* 1 tom antes do branco principal */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: logo;
  src: Url("../fonte/Angelia Davitson.otf");
}.nomeNegocio{
  font-family: logo;
  font-size: 26px;
}

.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
}

.conteudoIcone{
  display: flex;
}
.imagemIcone{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 0px 40px 2px  #416f24; /* tom princial original */
  padding: 1px;
  background-color: #ffffff;
}

.nomeNegocio{
  text-align: center;
  color: #416f24; /* tom princial original */
  padding: 10px 5px;
  font-family: logo;
}

.conteudoLinks{
  display: grid;
  margin: 5px;
}
.descricaoLink{
  display: flex;
  margin: 7px;
}
.link{
  background: #678B4F; /* tom secundario original */
  color: #1E2917; /* 4 tons antes do preto secundario */
  min-width: 350px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  color: #678B4F; /* tom secundario original */
  background: #1E2917; /* 4 tons antes do preto secundario */
  box-shadow: 0px 0px 6px 6px #5C7D47; /* 1 tom mais escuro secundario */
}
